<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">RobotRumble</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">About</a>
    <a class="p-2 text-dark" href="#">Rankings</a>
    <a class="p-2 text-dark" href="#">Support</a>
    {{!-- <a class="p-2 text-dark" href="#">Pricing</a> --}}
  </nav>
  <a id="login-portis" class="btn btn-outline-primary" href="#" onclick="loginWithPortis();" >Log in with Portis</a>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <div class="robot-1">
          <p class="white-text"><span id="robot-1-interactions"></span> Interactions </p>
          <img id="driver-1-img" class="robot-img robot-1-img vibrate" onclick="changeImage('1');" style="width: 100%; max-width: 25em;" src="/img/2.gif" alt="justinsun">
          <div id="robot-1-button-holder" class="robot-1-button-holder" style="display: none">
            <a href="#"><img src="img/rocket-small.png" alt="rocket"></a>
            <a href="#"><img src="img/turtle-small.png" alt="turtle"></a>
          </div>

          <div>
            </br>
            <!-- <button id="driver1-purchase-btn" type="button" class="btn btn-primary btn-lg">Recruit Driver</button> -->
          </div>
          </br>
          <div class="row">
            <div class="col">
              <img id="driver-1-arrow-left" class="robot-1-img vibrate" onclick="moveRobot(1, 'l');" style="width: 100%; max-width: 25em;" src="/img/arrow-left.png">
            </div>
            <div class="col text-center">
              <img id="driver-1-arrow-forward" class="robot-1-img vibrate" onclick="moveRobot(1, 'u');" style="width: 100%; max-width: 25em;" src="/img/arrow-up.png">
              <img id="driver-1-arrow-reload" class="robot-1-img vibrate" onclick="moveRobot(1, 're');" style="width: 100%; max-width: 25em;" src="/img/arrow-reload.png">
            </div>
            <div class="col">
              <img id="driver-1-arrow-right" class="robot-1-img vibrate" onclick="moveRobot(1, 'r');" style="width: 100%; max-width: 25em;" src="/img/arrow-right.png">
            </div>
          </div>

        </div>
      </div>
      <div class="col text-center">
        <div id="message-update" class="message white-text"></div>
        <div class="clock white-text"></div>
        <div id="twitch-embed"></div>
      </div>
      <div class="col text-center">
        <div class="robot-2">
          <p class="white-text"><span id="robot-2-interactions"></span> Interactions </p>
          <img id="driver-2-img" class="robot-img robot-2-img vibrate" onclick="changeImage('2');" style="width: 100%; max-width: 25em;" src="/img/1.gif" alt="vitalik">
           <div>
            </br>
            <!-- <button id="driver2-purchase-btn" type="button" class="btn btn-primary btn-lg">Recruit Driver</button> -->
            <div id="robot-2-button-holder" class="robot-2-button-holder" style="display: none">
              <a href="#"><img src="img/rocket-small.png" alt="rocket"></a>
              <a href="#"><img src="img/turtle-small.png" alt="turtle"></a>
            </div>
          </div>
          </br>
          <div class="row">
            <div class="col">
              <img id="driver-2-arrow-left" class="robot-1-img vibrate" onclick="moveRobot(2,'l');" style="width: 100%; max-width: 25em;" src="/img/arrow-left.png">
            </div>
            <div class="col text-center">
              <img id="driver-2-arrow-forward" class="robot-1-img vibrate" onclick="moveRobot(2, 'u');" style="width: 100%; max-width: 25em;" src="/img/arrow-up.png">
              <img id="driver-2-arrow-reload" class="robot-1-img vibrate" onclick="moveRobot(2, 're');" style="width: 100%; max-width: 25em;" src="/img/arrow-reload.png">
            </div>
            <div class="col">
              <img id="driver-2-arrow-right" class="robot-1-img vibrate" onclick="moveRobot(2, 'r');" style="width: 100%; max-width: 25em;" src="/img/arrow-right.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <p>{{response}}</p>
  </div>
