<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
  <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
  <title>Document</title>
  <script type="text/javascript" type="text/javascript">
    // Connecting to ROS
    // -----------------

    var left  = 37
    var up    = 38
    var right = 39
    var down  = 40
    var ros = new ROSLIB.Ros({
      url : 'ws://localhost:9090'
    });

    ros.on('connection', function() {
      console.log('Connected to websocket server.');
    });

    ros.on('error', function(error) {
      console.log('Error connecting to websocket server: ', error);
    });

    ros.on('close', function() {
      console.log('Connection to websocket server closed.');
    });

    // Publishing a Topic
    // ------------------

    var cmdVel = new ROSLIB.Topic({
      ros : ros,
      name : '/cmd_vel',
      messageType : 'geometry_msgs/Twist'
    });

    var twist = new ROSLIB.Message({
      linear : {
        x : 0.1,
        y : 0.2,
        z : 0.3
      },
      angular : {
        x : -0.1,
        y : -0.2,
        z : -0.3
      }
    });
    cmdVel.publish(twist);

    // Subscribing to a Topic
    // ----------------------

    var listener = new ROSLIB.Topic({
      ros : ros,
      name : '/listener',
      messageType : 'std_msgs/String'
    });

    listener.subscribe(function(message) {
      console.log('Received message on ' + listener.name + ': ' + message.data);
      listener.unsubscribe();
    });
    document.addEventListener('DOMContentLoaded', () => {
    'use strict';
    document.addEventListener('keydown', event => {
        const charList = 'abcdefghijklmnopqrstuvwxyz0123456789';
        const key = event.key.toLowerCase();
        console.log(key);
        // we are only interested in alphanumeric keys
        // if (charList.indexOf(key) === -1) return;
        // console.log(key);
        if(key === 'arrowup') {
          console.log('Command sent')
          cmdVel.publish(twist);
        } else {
          console.log('No command sent')
        }
    });
});
  </script>
</head>
<body>

</body>
</html>
